@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  pointer-events: auto !important;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit */
}

@layer base {
  :root {
    --background: 224 71% 4%; /* gray-950 */
    --foreground: 0 0% 100%; /* white */
    --card: 215 28% 17%; /* gray-800 */
    --card-foreground: 0 0% 100%; /* white */
    --popover: 0 0% 100%; /* white */
    --popover-foreground: 224 71% 4%; /* gray-950 */
    --primary: 182 73% 63%; /* #5ce1e6 */
    --primary-foreground: 224 71% 4%; /* gray-950 */
    --secondary: 215 28% 17%; /* gray-800 */
    --secondary-foreground: 182 73% 63%; /* #5ce1e6 */
    --muted: 240 5% 65%; /* #a1a1aa */
    --muted-foreground: 216 12% 84%; /* gray-300 */
    --accent: 182 99% 49%; /* 01f0f8 */
    --accent-foreground: 224 71% 4%; /* gray-950 */
    --border: 215 14% 34%; /* #gray-600 */
    --success: 142 71% 45%; /* #18c964 */
    --success-foreground: 0 0% 100%; /* white */
    --destructive: 0 84.2% 60.2%; /* #EF4444 */
    --destructive-foreground: 0 0% 100%; /* white */
    --input: 0 0% 100%; /* white */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
